<header class="menubar">
  <div class="menubar--logo">
    <i
      class="pi pi-bars"
      style="font-size: large"
      (click)="toggleSidebar()"
    ></i>
    <p-divider
      layout="vertical"
      [style]="{
            height: '20px',
        }"
    />
    <p>
      <a class="logo">Training Pegasus</a>
    </p>
  </div>
  <div class="menubar--actions">
    @if(!isSmallScreen){
    <p-divider
      layout="vertical"
      [style]="{
          height: '10px',
      }"
    />
    <div>
      <i class="pi pi-sign-out" style="font-size: large" (click)="logout()"></i>
    </div>
    <p-divider
      layout="vertical"
      [style]="{
            height: '10px',
        }"
    />
    }
    <div class="menubar--profile-menu" (click)="menu.toggle($event)">
      <p-avatar
        [label]="userInitials"
        styleClass="mr-2"
        size="normal"
        shape="circle"
      />
      <p>{{ userName }}</p>
      <p-menu #menu [model]="items" [popup]="true"></p-menu>
    </div>
  </div>
</header>
<div class="sidebar">
  <p-sidebar [(visible)]="sidebarVisible" position="left">
    <h3>Menu</h3>
    <div class="sidebar--link">
      <i class="pi pi-book" style="font-size: x-large"></i>
      <a>Exams</a>
    </div>
  </p-sidebar>
</div>
