/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html,
body {
  background-color: #edf1f7;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.p-d-flex {
    display: flex;
  }
  
  :host ::ng-deep .p-sidebar {
    min-width: 250px;
  }
  
  :host ::ng-deep .p-card {
    width: 100%;
    margin: 1rem;
  }
  